<%- include('../partials/head') %>

    <body>
        <h1>
            <%= message.text %>
        </h1>
        <p>
            <%= message.added %>
        </p>
        <p>
            <%= message.user %>
        </p>
        <a href="/">Back</a>
    </body>

    </html>