<%- include('../partials/head') %>

<body>
    <h2>Nouveau Message: </h2>
    <form action="/new" method="post">
        <input type="text" name="messageText">
        <input type="text">
        <button type="submit">Ajouter</button>
    </form>
    <a href="/">Back</a>
</body>

</html>