<%- include('../partials/head') %>

    <body class="body-form">
        <div class="form-container">
            <h2>Nouveau Message</h2>
            <form class="form" action="/new" method="post">
                <div>
                    <label for="messageText">Message</label>
                    <input required type="text" id="messageText" name="messageText">
                </div>
                <div><label for="username">Utilisateur</label>
                    <input required type="text" id="username" name="username">
                </div>
                <button type="submit">Ajouter</button>
            </form>
            <a href="/">Back</a>
        </div>
    </body>

    </html>