*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(115deg, #F9F9F9 50%, #ACDEC8 50%);
    color: #202020;
}

/* Form */
.body-form {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

@media (max-width: 768px) {
    .body-form {
        grid-template-columns: 1fr;
    }
}

.form-container {
    width: 400px;
    margin: 24px;
    border-radius: 5px;
    background-color: #FCFCFC;
    padding: 24px;
    border: 1px solid #D9D9D9;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);
}

.form {
    color: #646464;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.form div label {
    display: block;
}

.form input {
    border: 1px solid #D9D9D9;
    color: #646464;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
}

.form input:focus {
    outline: 1px solid #56BA9F;
}

.form button {
    border-radius: 3px;
    padding: 8px 16px;
    border: none;
    background-color: #29A383;
    color: white;
}

.form button:hover {
    background-color: #26997B;
}

.form button:active {
    background-color: #29A383;
    transform: scale(0.99)
}

.form button:focus {
    outline: 1px solid #56BA9F;
}

a {
    font-weight: bold;
    color: #208368;
}

/** Message Board */
.body-board p {
    color: #646464;
}

.board {
    padding: 24px;
    background-color: #FCFCFC;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.board .card {
    padding: 0 24px;
}

.board .user,
.board .user div {
    display: flex;
    gap: 8px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}